@page
@model TicketHive.Ui.Pages.Basket

<h1>Cart</h1>

@if (Model.Cart != null && Model.Cart.CartItems != null && Model.Cart.CartItems.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cart.CartItems)
            {
                <tr>
                    <td>@item.EventName</td>
                    <td>
                        <form method="post">
                            <div class="input-group">
                                <input type="hidden" name="item_index" value="@Model.Cart.CartItems.IndexOf(item)" />
                                <input type="number" name="quantity" value="@item.Quantity" class="form-control" />
                                <button type="submit" name="action" value="increase" class="btn btn-secondary">+</button>
                                <button type="submit" name="action" value="decrease" class="btn btn-secondary">-</button>
                                <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    </td>
                    <td>@item.Price kr</td>
                    <td>@(item.Quantity * item.Price) kr</td>
                    <td></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-end">Total:</td>
                <td>@*@Model.Cart.TotalAmount*@ kr</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>Your cart is empty.</p>
}

<div class="text-end">
    <a href="/checkout" class="btn btn-primary">Pay Now</a>
</div>

<form>
    <button type="submit" formaction="/BookingPage">Back to Booking</button>
</form>