@page
@model TicketHive.Ui.Pages.ConfirmationPageModel


<h1>Thank you for purchasing this event(s)!</h1>



<!-- Displaying order summary from CartItems -->

@if (Model.Cart != null && Model.Cart.CartItems != null && Model.Cart.CartItems.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cart.CartItems)
            {
                <tr>
                    <td>@item.EventName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price kr</td>
                    <td>@(item.Quantity * item.Price) kr</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-end">Total:</td>
                <td>@Model.Cart.CartItems.Sum(item => item.Quantity * item.Price) kr</td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>Your order is empty.</p>
}



<form>
    <button type="submit" formaction="/BookingPage" onclick="resetCookies()">Back to Booking</button>
</form>

<style>
    button {
        background-color: #007bff;
        border: none;
        color: white;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }

        button:hover {
            background-color: #0069d9;
        }
</style>






@*<script>
    function resetCookies() {
        var cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }
</script>*@



@*<script>
    function clearCartCookie() {
        document.cookie = "ShoppingCart=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }

    window.addEventListener('load', function () {
        var backButton = document.querySelector('form button[type="submit"]');
        backButton.addEventListener('click', clearCartCookie);
    });
</script>*@