@page "{id:int}"
@model TicketHive.Ui.Pages.EventPageModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@Model.Event.Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @*<img src="~/EventImages/@Model.Event.Image" class="card-img-top img-thumbnail" alt="...">*@
            <img src="~/EventImages/@Model.Event.Image" class="card-img-top img-thumbnail @if (Model.Event.IsSoldOut) {
            <text>sold-out-image</text>
 }" alt="...">
        </div>
        <div class="col-md-8">
            <p>@Model.Event.EventType</p>
            <p>@Model.Event.DateTime</p>
            <p>@Model.Event.Location</p>
            <p>@Model.Event.TicketPrice SEK</p>
            
            

            @if (!Model.Event.IsSoldOut)
            {
                <form id="add-to-cart-form" asp-route-id="@Model.Event.Id" method="post">
                     <button class="btn btn-success" type="submit">Add To Cart</button>
                </form>
            }
            else
            {
                <button class="btn btn-secondary" disabled>Sold Out</button>
            }
        </div>
    </div>
</div>

@*<form>
    <button type="submit" formaction="/Index">Add To Basket</button>
</form>*@
<hr />

<form>
    <button type="submit" formaction="/Homepage">Back to HomePage</button>
</form>



<style>

    body{
        background-color: #fbe89c;
        color: #305076;
    }

    button {
        display: inline-block;
        outline: 0;
        cursor: pointer;
        border-radius: 6px;
        border: 2px solid #305076;
        color: #305076;
        background: 0 0;
        padding: 8px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
        font-weight: 600;
        font-size: 16px;
        height: 50px;
        width: 200px;
        margin-top: 10px;
    }

    button:hover {
        background-color: #305076;
        color: #fbe89c;
    }
</style>